<div>
	<div class = "footer-full-width">
		<div class = "footer-alert-container">
			<div class = "left-info-container">
				<div class = "info-header">Do you have a fear of missing out?</div>
				<div class = "info-content">Join tens of thousands of gamers who wake up to our newsletter every week. It’s a curated list of the upcoming coolest games and trending deals delivered right to your mailbox.</div>
			</div>
			<div class = "right-action-container">
				<div>
					<input type = "email hfix" placeholder="Enter your email address" class = "email-input">
				</div>
				<button class = "join-us-button hfix">Join Us</button>	
			</div>
		</div>	
	</div>

	<div class = "container-fluid" style="padding: 35px ; margin:0px ;background-color: #FFFFFF;">
		<div class = "row" >
			<div class="col-sm-3 footer-column-heading" style = "padding-left: 40px">
		    	<p>Logo and copyright details</p>
		    </div>
		    <div class="col-sm-3 footer-column-heading" style = "padding-left: 30px">
		    	<p>cities</p>
                <div >
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">Delhi</a>
		    		</div>
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">Pune</a>
		    		</div>	
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">Bangalore</a>
		    		</div>	
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">Mumbai</a>
		    		</div>
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">Noida</a>
		    		</div>		
		    	</div>
		    </div>
		     <div class="col-sm-3 footer-column-heading" style = "padding-left: 30px">
		    	<p>about us</p>
		    	<div>
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">About</a>
		    		</div>
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">Careers</a>
		    		</div>	
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">Blog</a>
		    		</div>	
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">Privacy Policy</a>
		    		</div>
		    		<div class = " footer-column-contents">
		    			<a href="abc.com">Terms of Usage</a>
		    		</div>		
		    	</div>
		    </div>

			<div class="col-sm-3 footer-column-heading" style = "padding-left: 30px">
		    	<p>contact</p>
		    	<div>
		    		<div class = "row footer-column-contents">
		    			<p >Feel free to get in touch via email:</p>
		    		</div>
		    		<div class = " footer-column-contents">
		    			<p style = "color: skyblue ; ">gameapp@gmail.com</p>	
		    		</div>	
		    		<div class = " footer-column-contents">
		    			<img src = "static/images/icons/facebook.png" >
		    			<img src = "static/images/icons/instagram.png" style = "margin-left:5px";>
		    			<img src = "static/images/icons/twitter.png" style = "margin-left:5px";>
		    		</div>
		    	</div>
		    </div>

		</div>	
	</div>

	
</div>