<div>
	<div class = "footer-full-width">
		<div class = "footer-alert-container">
			<div class = "left-info-container">
				<div class = "info-header">Do you have a fear of missing out?</div>
				<div class = "info-content">Join tens of thousands of people who wake up to our newsletter every week. It’s a curated list of the upcoming coolest games and trending deals delivered right to your mailbox.</div>
			</div>
			<div class = "right-action-container">
				<div>
					<input type = "email hfix" placeholder="Enter your email address" class = "email-input">
				</div>
				<button class = "join-us-button hfix">Join Us</button>	
			</div>
			<!-- <div class = "footer">
				<div class = "footer-left">
				</div>
				<div class = "footer-heading">
					<span>cities</span>
				</div>	
				<div>
					<a href = "abc.com">Delhi</a>
				</div>
				<div>
					<a href = "abc.com">Noida</a>
				</div>
				<div>
					<a href = "abc.com">Pune</a>
				</div>
				<div>
					<a href = "abc.com">Bangalore</a>
				</div>
				<div>
					<a href = "abc.com">Ghaziabad</a>
				</div>
				<div>
					<a href = "abc.com">Gurgaon</a>
				</div>
			</div> -->
		</div>	
	</div>
</div>