<div class="header flex">
    <div class="logo hfix">
        <img class="hfull" src="static/images/logo.png">
    </div>
    <div class="search_box flex hfix container">
        <div class="hfull" style="width:90%;">
            <input class="hfull" style="width:100%;" type="text" ng-model="search_query" placeholder="Search..">
        </div>
        <div class="hfull " style="width:10%;">
            <button class="hfull" style="min-width: 100px;" type="submit">
            <img src="static/images/icons/ic_search_black_24px.svg">
                </button>
        </div>
    </div>
    <div class="cart hfix ">
        <img class="hfull" src="static/images/icons/ic_shopping_cart_white_24px.svg">
    </div>
    <div class="menu ">
        <img class="hfix" src="static/images/icons/ic_more_vert_white_24px.svg">
    </div>
</div>