.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 240px;
    margin: 24px;
    /*border-radius: 5%;*/
}
.card-block {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    /*padding: 10px;*/
}
.card-content {
    width: 100%;
}
.discount {
    width: 49%;
    color: #4fc3f7;
    font-weight: 200;
}
.inline-block {
    display: inline-block;
}
.price {
    width: 49%;
}
.gamename {
    font-weight: 300;
    font-size: 16px;
}

.card-img-top {
    max-width: 240px;
/*    max-height: 100px;*/
/*    margin: 24px;*/
}
