.footer-column-heading{
	color: #545454;
	font-size: 15px;
	font-weight: 315;
	margin-bottom: 30px;
}


.footer-alert-container{
	display: flex;
    width: 100%;
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    background-image: linear-gradient(278deg,#fd6280,#ec1943);
}

.right-action-container{
    margin-right: 10px;
    width: 50%;
    display: flex;
}

.email-input{
	margin-top: 45px;
	width: 400px;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 200;
}
 .footer-column-contents{
 	font-weight: 200;
 	margin-top: 5px;
 	font-size: 13px;
 }

.hfix{
height: 30px;
}

a:link {
    text-decoration: none;
    color: #545454;
}

a:visited {
    text-decoration: none;
    color: #545454;
}

a:hover {
	text-decoration: none;

    color: #ffbb58;
}

.join-us-button {
  border-radius: 4px;
  background:linear-gradient(107deg,#ffcd83,#ffbb58);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 3px;
  width: 70px;
  cursor: pointer;
  margin: 45px;
  margin-left: 20px;
  font-weight: 200;
}

.join-us-button:active {
  transform: translateY(0.5px);
}

.footer-alert-container .left-info-container .info-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 13px;
}

.footer-alert-container .left-info-container {
    padding: 18px 10% 15px 30px;
    width: 50%;
    color: #fff;
}

.info-content {
	margin-top: 7px;
    font-size: 13px;
    font-weight: 200;
}