.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.header {
    background-color: #2874F0;
    width: 100%;
    height: auto;
    padding: 20px;
    /*color: white;*/
}

.hfix {
    height: 40px;
}

.hfull {
    height: 100%;
}
/*.row {
    width: 100%
}*/

.search_box {
    width: calc(100% - 100px);
    padding-left: 10px;
    padding-right: 10px;
}
