.card img {
    width: 100%;
}

.card:hover{
    cursor: pointer;
    transform: translateY(0.8px);
}


.discount{
    width: 49%;
    color: #4fc3f7;
    font-weight: 200;
}


.price {
    width: 49%;
}


.carousal_pics {
    max-height: 400px;
    width: 100%;
    clip: inherit;
}

.home_carousal {
    width: 100%;
}
