<div ng-controller="mainCtrl">
    <header></header>

    <div class="home_carousal" uib-carousel active="active" interval="myInterval">
        <div uib-slide ng-repeat="slide in slides" index=$index>
            <img class="carousal_pics" ng-src="{{slide.image}}" style="margin:auto;">
        </div>
    </div>


    <br>
    <br>

    <br>
    <div class="jumbotron" style="padding-left:8%;">
        <h2>New Releases</h2>
    </div>
    <br>

    <div style="width:90%; overflow:hidden; position:relative;margin:auto;">
        <div id="card-wrapper" style="display : inline-flex; position:relative; left : -{{calcLeft()}}px; transition : left 500ms ease-in-out;">

            <card></card>
            <card></card>
            <card></card>
            <card></card>
            <card></card>
            <card></card>
            <card></card>

        </div>
        <button style="position:absolute; top:50%; height:30px; width:30px; left:1%;" ng-click="plusDivs(-1)">&#10094;</button>
        <button style="position:absolute; top:50%; height:30px; width:30px; right:1%" ng-click="plusDivs(1)">&#10095;</button>
    </div>
    <hr style="width: 60%;">
    <br>
    <div class="jumbotron" style="padding-left:8%;">
        <h2>Pre Owned</h2>
    </div>
    <br>

    <div style="width:90%; overflow:hidden; position:relative;margin:auto;">
        <div id="card-wrapper" style="display : inline-flex; position:relative; left : -{{calcLeft()}}px; transition : left 500ms ease-in-out;">

            <card></card>
            <card></card>
            <card></card>
            <card></card>
            <card></card>
            <card></card>
            <card></card>

        </div>
        <button style="position:absolute; top:50%; height:30px; width:30px; left:1%;" ng-click="plusDivs(-1)">&#10094;</button>
        <button style="position:absolute; top:50%; height:30px; width:30px; right:1%" ng-click="plusDivs(1)">&#10095;</button>
    </div>
    <hr style="width: 60%;">
    <br>
    <div class="jumbotron" style="padding-left:8%;">
        <h2>Releasing Soon!</h2> <span>      pre-order now
</span>
    </div>
    <br>
    <div style="width:90%; overflow:hidden; position:relative;margin:auto;">
        <div id="card-wrapper" style="display : inline-flex; position:relative; left : -{{calcLeft()}}px; transition : left 500ms ease-in-out;">

            <card></card>
            <card></card>
            <card></card>
            <card></card>
            <card></card>
            <card></card>
            <card></card>

        </div>
        <button style="position:absolute; top:50%; height:30px; width:30px; left:1%;" ng-click="plusDivs(-1)">&#10094;</button>
        <button style="position:absolute; top:50%; height:30px; width:30px; right:1%" ng-click="plusDivs(1)">&#10095;</button>
    </div>



    <!--</div>
    </div>-->


    <br>
    <br>
    <br>
    <br>
    <br>

    <footer></footer>

</div>
