<div ng-controller="mainCtrl">
    <header></header>

    <br>
    <div class="home_carousal" uib-carousel active="active" interval="myInterval">
        <div uib-slide ng-repeat="slide in slides" index=$index>
            <img class="carousal_pics" ng-src="{{slide.image}}" style="margin:auto;">
        </div>
    </div>


<br><br><br><br><br><br>


    <div class="card">
        <img class="card-img-top" src="static/images/cardsample.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title text-center">Game Name</h4>
            <div class="card-content">
                <div class="text-left discount inline-block">
                    discount upto x%
                </div>
                <div class="text-right price inline-block">
                    <h4>₹0000</h4>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br>

    <footer></footer>



</div>
