<style>
    #product {
        /*margin: 0 auto;*/
    }
    
    #img_info_div {
        display: flex;
    }
    
    #product_img {
        width: 40%;
    }
    
    #product_info {
        width: 60%;
    }
    
    #breaked_price {
        display: flex;
    }
    
    #provider_info {
        margin-top: -15px;
    }
</style>
<header></header>
<div class="product" id="product">
    <div id="img_info_div">
        <div class="" id="product_img">
            <img src="../images/cardsample.jpg" alt="sample game image"></img>
        </div>
        <div id="product_info">
            <div id="title_div">
                <div id="product_title">
                    <h3>TORMENT: TIDES OF NUMERA</h3>
                </div>
                <div id="provider_info">
                    <span id="product_provider">
                    By Techland<br />
                    </span>
                    <span id="product_platform">
                    Platform: Ps4
                    </span>
                </div>
            </div>
            <div id="price_cart_div">
                <div id="price_div">
                    <div id="price_range">
                        Price: Rs 149-799
                    </div>
                    <div id="breaked_price">
                        <div id="day_price">
                            One day<br />149
                        </div>
                        <div id="weekly_price">
                            One week <br />349
                        </div>
                        <div id="monthly_price">
                            Monthly <br />799
                        </div>
                    </div>
                </div>
                <div id="available_div">
                    <div id="pin_div">
                        Enter Pincode:<input></input>
                    </div>
                    <div id="duration_cod_div">
                        delivery to pincode - 3days<br />Cod not available
                    </div>
                </div>
                <div id="add_to_cart">
                    <a href="#">Add to Cart</a>
                </div>
            </div>
            <div id="pkg_includes">
                <span>Package Includes:</span>
                <ul>
                    <li>inclusion1</li>
                    <li>inclusion2</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="about_div">
        <div id="about_heading">
            <h4>About:</h4>
        </div>
        <div id="about_content">
            rsdffffffffffffffffffnjfbvdfnoubdf0oinbdfpobnfffffffffffffffffffffgyuvvjnvkdfvndf; dfvbidfkjvnldfknv;dfbdflknb;dfbdflknbdfbnjldfbv;dfbdflknb vbfkbvdfl;bvdf;'vndf;bndfbn;kfdnbbbbbb fbknldfkbn'
        </div>
    </div>
    <div id="game_plot_div">
        <div id="plot_heading">
            <h4>Game Plot:</h4>
        </div>
        <div id="plot_content">
            rsdffffffffffffffffffnjfbvdfnoubdf0oinbdfpobnfffffffffffffffffffffgyuvvjnvkdfvndf; dfvbidfkjvnldfknv;dfbdflknb;dfbdflknbdfbnjldfbv;dfbdflknb vbfkbvdfl;bvdf;'vndf;bndfbn;kfdnbbbbbb fbknldfkbn'
        </div>
    </div>
</div>
<footer></footer>